doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport", content='width=device-width, initial-scale=1, user-scalable=1')
    title #{title}
    link(href='https://unpkg.com/video.js/dist/video-js.css', rel='stylesheet')
    script(src='https://unpkg.com/video.js/dist/video.js')
    script(src='https://unpkg.com/videojs-contrib-hls/dist/videojs-contrib-hls.js')
  body
    video#my_video_1.video-js.vjs-default-skin(controls='', preload='auto', width='640', height='360', data-setup='{}')
      source(src='/hls/playlist.m3u8', type='application/x-mpegURL')